# Ignore everything
*

# But not these files...
!.npmignore
!README.md
!README-images
# etc...

# ...even if they are in subdirectories

# if the files to be tracked are in subdirectories
!squircle.min.js