.buttonWrap {
  display: flex;
  background: var(--dark-clr);
  mask-image: paint(squircle);
  --squircle-radius: 16px;
  --squircle-smooth: 0.5;
}

.button {
  padding: 14px 20px;
  font-family: "Druck";
  font-size: 16px;
  color: var(--light-clr);
  transition: all 0.1s ease;

  &:hover {
    background: var(--accent-clr);
  }
}
