@import "../../styles/mixins";

.wrapWidth {
  border-top: 2px solid var(--dark-clr);
  width: 100%;
  @media only screen and (max-width: 620px) {
    border-top: none;
  }
}

.wrap {
  max-width: var(--max-width);
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--horizontal-paddings);
  align-items: center;
  @media only screen and (max-width: 1100px) {
    flex-direction: column-reverse;
  }
}

.canvasWrap {
  display: flex;
  flex: 1;
  align-self: flex-end;
  @media only screen and (max-width: 1100px) {
    align-self: unset;
  }
}

.content {
  flex: 1;
  width: 100%;
  padding: var(--vertical-paddings) 0;
  @media only screen and (max-width: 1100px) {
    padding-bottom: 0;
  }
}

.h2 {
  @include h2;
  margin-bottom: var(--padding-m);
  @media only screen and (max-width: 1100px) {
    margin-top: 24px;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  max-width: 450px;
  @media only screen and (max-width: 1100px) {
    max-width: none;
    margin-bottom: 0;
  }
}

.range {
  margin-bottom: 32px;
}
