@import "../../styles/mixins";

.wrapWidth {
  border-top: 2px solid var(--dark-clr);
  border-bottom: 2px solid var(--dark-clr);
  width: 100%;
}

.wrap {
  max-width: var(--max-width);
  display: flex;
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.title {
  width: 50%;
  max-width: 600px;
  border-right: 2px solid var(--dark-clr);
  padding: var(--vertical-paddings) var(--horizontal-paddings);
  @media only screen and (max-width: 1100px) {
    width: 100%;
    border-right: none;
    padding-bottom: 0;
  }
  h2 {
    @include h2;
  }
}

.content {
  width: 100%;
  padding: var(--vertical-paddings) var(--horizontal-paddings);
}

.switcher {
  position: relative;
  display: flex;
  padding: 8px;
  margin-bottom: var(--padding-m);
  @media only screen and (max-width: 620px) {
    margin-bottom: var(--padding-s);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: var(--dark-clr);
    mask-image: paint(squircle);
    --squircle-smooth: 0.8;
    --squircle-outline: 2px;
  }
  &Button {
    z-index: 1;
    cursor: pointer;
    flex: 0 0 50%;
    text-align: center;
    color: var(--dark-clr);
    padding: 16px;
    font-family: "Druck";
    text-transform: uppercase;
    font-size: 32px;
    transition: all 0.2s ease;
    &:hover {
      text-decoration: underline;
    }
    @media only screen and (max-width: 1100px) {
      font-size: 24px;
    }
    @media only screen and (max-width: 620px) {
      padding: 8px;
      font-size: 16px;
    }
  }
  &Back {
    position: absolute;
    top: 8px;
    left: 8px;
    height: calc(100% - 16px);
    width: 50%;
    background: var(--dark-clr);
    mask-image: paint(squircle);
    --squircle-smooth: 1;
    transition: all 300ms cubic-bezier(0.61, -0.15, 0.445, 0.995);
    &Active {
      transform: translateX(calc(100% - 16px));
    }
  }
  &Active {
    pointer-events: none;
    color: var(--light-clr);
    &:hover {
      text-decoration: none;
    }
  }
}

.CSSExample {
  display: flex;
  flex-direction: column;
  color: var(--dark-clr);
  overflow: scroll;
  // border: 2px solid red;
  padding: 40px;
  background: paint(squircle);
  --squircle-smooth: 0.8;
  --squircle-radius: 16px;
  --squircle-outline: 2px;
  --squircle-fill: var(--dark-clr);
  @media only screen and (max-width: 620px) {
    padding: 32px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  code {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    margin: 0;
    margin-bottom: var(--padding-xs);
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    color: rgba(0, 0, 0, 0.3);
  }
}
