@import "../../styles/mixins";

.wrap {
  flex-wrap: wrap;
  max-width: var(--max-width);
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: var(--vertical-paddings) var(--horizontal-paddings);
  @media only screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.h2 {
  @include h2;
  flex: 1;
  max-width: 500px;
  margin-bottom: var(--padding-m);
  margin-right: var(--padding-m);
  @media only screen and (max-width: 1100px) {
    margin-top: var(--padding-xs);
  }
  @media only screen and (max-width: 620px) {
    margin-bottom: var(--padding-s);
  }
}

.cards {
  display: flex;
  flex: 2 1;
  @media only screen and (max-width: 620px) {
    flex-direction: column;
  }
}

.card {
  display: flex;
  align-items: center;
  padding: var(--padding-m);
  mask-image: paint(squircle);
  margin: var(--padding-xxs) 0;
  margin-right: var(--padding-xxs);
  --squircle-smooth: 0.4;
  --squircle-radius: 22px;
  @media only screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-s);
    &:last-child {
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 620px) {
    justify-content: flex-start;
    margin-right: 0;
    padding: var(--padding-s) 24px;
  }
  &Header {
    font-family: "Druck";
    color: black;
    font-size: 20px;
    margin: 0;
    @media only screen and (max-width: 1100px) {
      margin-top: var(--padding-s);
    }
  }
  &Svg {
    flex: none;
    height: 46px;
    margin-right: 32px;
    @media only screen and (max-width: 620px) {
      margin-right: 16px;
    }
  }
}
