.wrap {
  flex-wrap: wrap;
  max-width: var(--max-width);
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: var(--padding-xl) var(--padding-l);
}

.h2 {
  font-family: "Druck";
  color: var(--dark-clr);
  text-transform: uppercase;
  font-size: 46px;
  margin-right: var(--padding-m);
  flex: 1 2;
  line-height: 1.3;
}

.cards {
  display: flex;
  flex: 2 1;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-m);
  mask-image: paint(squircle);
  margin: var(--padding-xxs);
  --squircle-smooth: 0.4;
  --squircle-radius: 22px;
  &Header {
    font-family: "Druck";
    color: var(--dark-clr);
    font-size: 20px;
  }
  &Svg {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-right: 32px;
  }
}
