.wrap {
  position: relative;
  display: flex;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 28px;
  transform: translateX(-50%);
  // height: 30px;
  max-width: 100px;
  line-height: 1.4;
  padding: 8px 12px;
  background: var(--dark-clr);
  font-family: "Druck";
  font-size: 12px;
  color: var(--light-clr);
  --squircle-smooth: 1;
  --squircle-radius: 10px;
  mask-image: paint(squircle);
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 24px;
  outline: none;
  appearance: none;
  border: none;
  background: none;
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: var(--dark-clr);
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    transform: translateY(-11px);
    background: var(--dark-clr);
    cursor: pointer;
    border-radius: 24px;
    outline: none;
    transition: all 0.1s ease;
    &:hover {
      background: var(--accent-clr);
    }
  }
}
