div.mask {
  width: 400px;
  height: 300px;
  font-size: 50px;
  line-height: 3em;
  box-sizing: border-box;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    hsl(0, 100%, 30%),
    hsl(0, 100%, 20%)
  );
}

div.mask {
  --top-width: 80;
  --top-height: 20;
  background-image: paint(mask);
}
