.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legacyBorder {
  width: 400px;
  height: 300px;
  background: #3b99ff;
  border-radius: var(--base-radius);
  margin-bottom: 20px;
}
