@import "../../styles/mixins";

.wrapWidth {
  border-top: 2px solid var(--dark-clr);
  border-bottom: 2px solid var(--dark-clr);
  width: 100%;
}

.wrap {
  max-width: var(--max-width);
  display: flex;
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.title {
  width: 40%;
  max-width: 600px;
  border-right: 2px solid var(--dark-clr);
  padding: var(--vertical-paddings) var(--horizontal-paddings);
  @media only screen and (max-width: 1100px) {
    border-right: none;
    width: 100%;
  }
  h2 {
    @include h2;
  }
}

.content {
  width: 100%;
  padding: var(--vertical-paddings) var(--horizontal-paddings);
  @media only screen and (max-width: 1100px) {
    padding-top: 0;
  }
}

.CodeExample {
  display: flex;
  flex-direction: column;
  color: var(--dark-clr);
  // border: 2px solid red;
  padding: 40px;
  background: paint(squircle);
  --squircle-smooth: 0.8;
  --squircle-radius: 16px;
  --squircle-outline: 2px;
  --squircle-fill: var(--dark-clr);
  overflow: scroll;
  @media only screen and (max-width: 620px) {
    margin-bottom: var(--padding-s);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  code {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    margin: 0;
    margin-bottom: var(--padding-xs);
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    color: rgba(0, 0, 0, 0.3);
  }
}
